<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <div>
      <h1>Product Detail</h1>

      <h4>
        <a href="/products/<%=product.id%>"><%=product.productTitle %></a>
      </h4>
      <p><%=product.productDesc %></p>
      <p>ราคา<%=product.productPrice %> บาท</p>
    </div>
  </body>
</html>
